<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="register">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              v-model="name"
              class="form-control"
              name="first_name"
              placeholder="Enter your first name"
            />
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input
              type="text"
              v-model="email"
              class="form-control"
              name="last_name"
              placeholder="Enter your lastname name"
            />
          </div>
          <div class="form-group">
            <label for="email">Description</label>
            <input
              type="text"
              v-model="description"
              class="form-control"
              name="email"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password">Country</label>
            <input
              type="text"
              v-model="country"
              class="form-control"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="text"
              v-model="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="name">Province</label>
            <input
              type="text"
              v-model="province"
              class="form-control"
              name="first_name"
              placeholder="Enter your first name"
            />
          </div>
          <div class="form-group">
            <label for="name">District</label>
            <input
              type="text"
              v-model="district"
              class="form-control"
              name="first_name"
              placeholder="Enter your first name"
            />
          </div>
          <div class="form-group">
            <label for="name">Sector</label>
            <input
              type="text"
              v-model="sector"
              class="form-control"
              name="first_name"
              placeholder="Enter your first name"
            />
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      url: this.$route.params.randomCode,
      name: "",
      email: "",
      description: "",
      password: "",
      country: "",
      province: "",
      district: "",
      sector: ""
    };
  },
  methods: {
    register() {
      var text = "http://localhost:8000/api/success/" + this.url;
      axios
        .post(text, {
            name: this.name,
            email: this.email,
            description: this.description,
            password: this.password,
            country: this.country,
            province: this.province,
            district: this.district,
            sector: this.sector
        })
        .then(res => {
          console.log(res.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>