<template>
    <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="headSign">
          <h1 class="h3 mb-3 font-weight-normal">Head Master Sign Up</h1>
          <div class="text-">{{ result }}</div>
          <div class="form-group">
            <label for="name">Names</label>
            <input type="text" v-model="name" class="form-control" name="first_name" placeholder="Enter your first name">
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" v-model="email" class="form-control" name="last_name" placeholder="Enter your lastname name">
          </div>
          <div class="form-group">
            <label for="email">Phone</label>
            <input type="text" v-model="phone" class="form-control" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Country</label>
            <input type="text" v-model="country" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return {
            name: '',
            email: '',
            phone: '',
            country: '',
            result: ''
        }
    },
    methods: {
        headSign(){
            axios.post('http://localhost:8000/api/head-master/apply',
        {
          name: this.name,
          email: this.email,
          phone: this.phone,
          country: this.country,
        }
        ).then((res) => {
            console.log(res)
            this.result = res.data.message
        }).catch((err) => {
            console.log(err)
        })
        }
    }
}
</script>