<template>
    <div>
        <button class="btn btn-primary ml-5" @click = 'followUser' v-text = 'buttonText'></button>
    </div>
</template>

<script>
    export default {
        props: ['UserId','follows'],

        data: function(){
            return {
                status: this.follows
            }
        },

        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            followUser(){
                axios.post('/follow/'+this.UserId)
                    .then(responce =>{
                        this.status = ! this.status
                    })
                    .catch(err =>{
                        alert(err);
                    })
            }
        },

        computed: {
            buttonText(){
                return (this.status) ? 'Unfollow' : 'Follow'
            }
        }
    }
</script>
