<nav class="text-white d-flex justify-content-between align-items-baseline">
  <div class="left-side d-flex align-items-baseline">
    <div class="logo">
      aratrix
    </div>
    <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> araschools </a></li>
      <li><a href="#"> alook </a></li>
      <li><a href="#"> amusic </a></li>
    </ul>
  </div>
  <div class="right-side left-side d-flex align-items-baseline">
    <div class="location pr-4">
      <span class="namer">Phone </span>: <span> +250 783384212</span>
    </div>
    <div class="location">
      <span class="namer">Email </span> : <span> andesanselme@gmail.com </span>
    </div>
  </div>
</nav>
