@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body,
html
{
  width: 100%;
}
section#index
{
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  background-color: red;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to right,rgba(70, 52, 78,0.5),rgb(70, 52, 78)),url("../images/img-1.jpg");
  background-size: cover;
  padding: 20px 50px;
}
.logo
{
  font-size: 20px;
  font-weight: 700;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 3px solid #FAED26;
}
.left-side ul
{
  list-style: none;
}
.left-side li
{
  padding: 0px 5px;
  display: inline-block;
}
nav a
{
  display: inline-block;
  color: white;
  padding: 2px 5px;
}
nav a:hover
{
  text-decoration: none;
  color: #FAED26;
  border-bottom: 2px solid #FAED26;
}
.namer
{
  font-weight: 700;
  color: #FAED26;
}
nav
{
  border-bottom: 1px solid #9D8D8F;
  height: 45px;
  z-index: 4;
}
.main-theme
{
  padding: 50px 0px;
  text-align: right;
}
.main-theme h1
{
  font-weight: 700;
  word-spacing: 20px;
  color: #FAED26;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.main-theme h1
{
  border-bottom: 2px solid #FAED26;
}
button.read-more
{
  color: white;
  border-bottom: 2px solid #FAED26;
}
button.read-more:hover
{
  background-color: #FAED26;
}
.nav-bar
{
  background-color: transparent;
}
@media only screen and ( max-width: 800 ) {
  .left-side
  {
    display: none !important;
  }
  .nav-bar
  {
    background-color: white !important;
    min-height: 45px;
  }
}
