<template>
    <div class="home d-flex justify-content-center">
        <div class="body-here col-lg-4 col-md-8 col-sm-12">
            <div class="head-it"> To Access, you need an account </div>
            <div class="row d-flex justify-content-between btns">
                <router-link to="login" class="btn btn-success ml-3"> Login </router-link>
                <button class="btn btn-primary btn-disabled mr-3"> Register </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    .home
    {
        background-color: #eee;
        height: 100vh;
    }
    .body-here
    {
        padding: 30px;
        margin-top: 30vh;
    }
    .head-it
    {
        text-align: center;
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        text-align: justify;
        letter-spacing: 1px;
    };
</style>