<template>
    <div class="body d-flex justify-content-center">
        <div class="form form-card col-lg-6 col-md-8 col-sm-12">
            <div class="form-group row">
                <div  class="col-4 text-right">
                    Email
                </div>
                <div class="col-8">
                    <input v-model="email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4  text-right">
                    Password
                </div>
                <div class="col-8">
                    <input v-model="password" type="password" class="form-control">
                </div>
            </div>
            <div class="text-center pb-4">{{ result }}</div>
            <div class="form-group row">
                <div class="col-4  text-right">
                    
                </div>
                <div class="col-8">
                    <div class="row justify-content-between">
                        <input @click="login" type="submit" class="btn btn-primary ml-3" value="Login">
                        <router-link class = 'btn btn-info mr-3' to = '/'>Return Home</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            result: '',
            email: '',
            password: ''
        }
    },
    methods: {
        login () {
            this.axios.post('http://localhost:8000/api/auth/login',{
                email: this.email,
                password: this.password
            })
            .then(res => { 
                if(res.data == 'OkToGo!'){
                   this.$router.push('/$/home')
                }else{
                    this.result = res.data
                }
              }
            )
            .catch(err => { this.result = err })
        }
    }
}
</script>
<style scoped>
    .body
    {
        height: 100vh;
    }
    .form
    {
        margin-top: 35vh;
    }
</style>