<template>
    <div>
        Here is the School Manager home of mine
    </div>
</template>
<script>
export default {
    methods:{
        showLogin(){
            
        }
    }
}
</script>
<style scoped>
    li a
    {
        cursor: pointer;
    }
</style>